@tailwind base;
@tailwind components;
@tailwind utilities;



.hero-gradient {
  background: linear-gradient(to bottom,
      rgba(9, 29, 34, 1) 0%,
      rgba(9, 29, 34, 1) 100%,
      rgba(0, 0, 0, 0.8) 20%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body{
  background-color: #0a2129;
}

.section2-background {
  background-image: url('../../public/images/image.png');
  background-size: 80vh;
  background-repeat: no-repeat;
  background-position: left;
}

.section3-background {
  position: relative;
  overflow: hidden;
}

.section3-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../public/images/image.png');
  background-size: 80vh;
  background-repeat: no-repeat;
  background-position: left;
  transform: rotate(180deg);
  transform-origin: center;
  z-index: -1;
  /* Ensure the background stays behind other content */
}

@media (max-width: 768px) {
  .section2-background {
    background-size: cover;
    background-position: center;
  }

 
}


.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 40s forwards linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}