@tailwind base;
@tailwind components;
@tailwind utilities;



.hero-gradient {
background: linear-gradient(0deg, rgba(9, 29, 34, 1) 0%, rgba(9, 29, 34, 0.529936974789916) 48%, rgba(9, 29, 34, 1) 100%); 
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body{
  background-color: #0a2129;
}

.section2-background {
  background-image: url('../../public/images/image.png');
  background-size: 80vh;
  background-repeat: no-repeat;
  background-position: left;
}

.section3-background {
  position: relative;
  overflow: hidden;
}

.section3-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../public/images/image.png');
  background-size: 80vh;
  background-repeat: no-repeat;
  background-position: left;
  transform: rotate(180deg);
  transform-origin: center;
  z-index: -1;
  /* Ensure the background stays behind other content */
}

@media (max-width: 768px) {
  .section2-background {
    background-size: cover;
    background-position: center;
  }

 
}


.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 40s forwards linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}


@keyframes slide1 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(100px, 100px);
    /* Bottom right */
  }

  50% {
    transform: translate(100px, -100px);
    /* Top right */
  }

  75% {
    transform: translate(-100px, -100px);
    /* Left */
  }
}

@keyframes slide2 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, -100px);
    /* Top */
  }

  50% {
    transform: translate(-100px, 100px);
    /* Bottom left */
  }

  75% {
    transform: translate(100px, 0);
    /* Right */
  }
}
.arrows {
  animation-duration: 8s;
  /* Adjust duration as needed */
  animation-iteration-count: infinite;
}

.arrow1 {
  animation-name: slide1;
  animation-delay: 0s;
}

.arrow2 {
  animation-name: slide2;
  animation-delay: 4s;
  /* Delay half the duration of slide1 */
}